footer.footer 
  .footer-wrapper 
    .row 
      .footer-col.col-lg-3.col-md-6 
        .footer-item 
          a(href="#").footer-logo 
            img(src="./assets/images/logo-light.svg", alt="")
      .footer-col.col-lg-3.col-md-6
        .footer-item 
          ul.footer-lists 
            li.list-item 
              a(href="#").list-link Free
            li.list-item 
              a(href="#").list-link Simple
            li.list-item 
              a(href="#").list-link Update
          ul.footer-lists-social.d-flex.flex-wrap 
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-facebook.svg", alt="")
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-youtube.svg", alt="")
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-google-plus.svg", alt="")
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-telegram.svg", alt="")
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-medium.svg", alt="")
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-linkedin.svg", alt="")
            li.list-item 
              a(href="#").list-link
                img(src="./assets/icons/icon-instagram.svg", alt="")

      .footer-col.col-lg-3.col-md-6.line
        .footer-item
          h6.footer-title Contact 
          p 43252 Borer Mountains
          p Zackerychester
          p Bahamas
          p 732-528-4945

      .footer-col.col-lg-3.col-md-6
        .footer-item
          h6.footer-title GET NEWS 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          form(action="#").footer-contact-form.d-flex
            input(type="text" placeholder="Email")
            button
              img(src="./assets/icons/icon-arrow-right-white.svg", alt="")