@mixin centerImage() {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@mixin ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin fullAbsolute() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin text-shadow {
  text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

@mixin box-shadow {
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}