$white: #fff;
$black: #000;
$gray: #868990;
$gray-dark: #777E90;
$purple: #8A56BF;
$red: #FF715B;
$blue: #377DFF;
$yellow: #FFBE3D;

$main-gray: #FCF9F5;
$main-blue-transparent: #F9F9FF;
$main-blue: #00033E;
$main-blue-dark: #0B0C22;

$footer: #16191F;

$text-gray: #353945;
$text-white: #F2F2F2;

$border: #353945;
$border-gray: #BDBDBD;

$primary: #2DCA8C;
$secondary: #010A55;