extends includes/layout/layout.pug
block pages
  include includes/pages/section-blockchain-gaming.pug
  include includes/pages/section-game-of-riches.pug
  include includes/pages/section-workflow.pug
  include includes/pages/section-benefit.pug
  include includes/pages/section-global-games-market.pug
  include includes/pages/section-get-coins.pug
  include includes/pages/section-get-app.pug