section.section-blockchain-gaming
  .section-wrapper 
    .section-header
      h2.section-title Blockchain Gaming 3.0
      p.section-des Panda is positioned to spark Web 3.0 on the TRON network with its revolutionary DApp experiences.
      img(src="./assets/images/image-panda-circle.png", alt="")
    
    img(src="./assets/images/image-blockchain-gaming.png", alt="").blockchain-image

    .blockchain-cards 
      .row 
        each item in [1,2,3,4]
          .col-lg-3.col-md-6
            .blockchain-card 
              .card-image 
                img(src=`./assets/images/image-blockchain-gaming-${item}.png`, alt="")
              .card-info 
  