section.section-get-coins
  .section-wrapper 
    .row 
      .col-lg-6
        .section-item 
          h2.section-title Panda is positioned to spark Web 3.0
          p.section-des Panda is one of the world’s first blockchain games. ‘Blockchain’ is the technology that makes things like Bitcoin possible. While coins aren’t a digital currency, they do offer the same security: each coin is one-of-a-kind and 100% owned by you. It cannot be replicated, taken away, or destroyed.____________
          include ../components/button.pug
          +Button({ title: 'Get yor coins now', className: 'primary shadow' })
      .col-lg-6
        .section-item 
          .section-image
            img(src="./assets/images/image-get-coins.svg", alt="")