section.section-get-app
  .section-wrapper
    .section-bg 
      img(src="./assets/images/bg-get-app.png", alt="")
    .section-main 
      .row 
        .col-lg-6 
          .section-item.content
            h2.section-title FIND US ON APP STORE & GOOGLE PLAY
            p.section-des Begin the hunt!
        .col-lg-6 
          .section-item.d-flex.flex-wrap.align-items-center.justify-content-end
            .item-bg 
              img(src="./assets/images/image-panda.png", alt="")
            a(href="#").get-app-btn
              img(src="./assets/images/image-get-app-store.svg", alt="")
            a(href="#").get-app-btn
              img(src="./assets/images/image-get-google-play.svg", alt="")