section.section-global-games-market
  .section-wrapper 
    h2.section-title 2012-2021 Global Games Market
    p.section-des REVENUES PER SEGMENT 2012-2021 with compound annual growth rates

    .section-image 
      img(src="./assets/images/image-global-games-market.png", alt="")